body {
	background-color: gray;
	
  padding: 20px;
  margin: 0;
  font-family: Helvetica, 'Roboto', 'Segoe UI', Tahoma, sans-serif
}
h1{
	width: 100px;
	height: 50px;
	color: red;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}
